

<div id="top-container" class="container-fluid">
    <h1 id="main-title" class="text-center">Encontre a melhor vaga de emprego</h1>
    <p id="main-subtitle" class="text-center">Temos as melhores vagas para home office</p>
    <form id="search-form" class="form-inline" action="">
        <div class="form-group col-md-10">
            <input type="text" class="form-control col-xs-2 " id="job" name="job"
                placeholder="Digite a vaga que está buscando" />
            <div class="col-md-2">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0mt-2">Procurar</button>
            </div>
        </div>
    </form>
</div>


<main>
    <div id="jobs-container" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="job-list-title">Veja as nossas vagas em destaque</h2>
                <ul id="job-list" class="list-group">
                    {{#each jobs }}
                        <li class="list-group-item  {{#if dataValues.new_job}}new-job {{/if}}">
                            <img src="/img/company.svg" alt="Company">
                            <p>{{ dataValues.company }}</p>
                            <h2>{{ dataValues.title }}</h2>
                            <p>{{ dataValues.salary }}</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver vaga</a>
                        </li>
                    {{/each }}
                </ul>
            </div>
        </div>
    </div>
</main>